.header {
  background-color: rgb(179, 143, 122);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.title {
  margin-top: 7%;
  margin-left: 5%;
}
